body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#periodic_table{
    margin: 0 auto;
}


#periodic_table td{
    border: none;
    height: 50px;
    width: 50px;
    font-weight: bold;
    font-size: 20px;
}

#periodic_table td.element:hover{
    cursor: pointer;
    text-decoration: underline;
    opacity: 0.6;
}

.element.family-hydrogen{
    background-color: yellow;
}


.element.family-alkali-metal{
    background-color: pink;
}


.element.family-alkaline-earth-metal{
    background-color: orange;
}


.element.family-transition-metal{
    background-color: #7180ea;
}


.element.family-other-metal{
    background-color: #e26c6c;
}


.element.family-semiconductor{
    background-color: gold;
}


.element.family-other-non-metal{
    background-color: #58ce58;
}


.element.family-halogen{
    background-color: #b47dd0;
}


.element.family-noble-gas{
    background-color: #d2a6a6;
}

td.element.state-gas, 
#element_box.state-gas .element-symbol{
    color: red;
}

td.element.state-liquid, 
#element_box.state-liquid .element-symbol{
    color: blue;
}

td.element.state-artificial, 
#element_box.state-artificial .element-symbol{
    color: gold;
}

td.element.state-unknown, 
#element_box.state-unknown .element-symbol{
    color: gray;
}

#element_wrapper {
    display: flex;
    margin: 0 auto;
    width: 1000px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    
}

#element_wrapper.hidden{
    display: none;
}

#element_wrapper .left-column{
    flex-basis: 25%;

}

#element_wrapper .right-column{
    flex-basis: 75%;
    text-align: left;
    padding: 10px;
}

#element_box{
    width: 210px;
    height: 210px;
    margin: 10px;
    padding: 10px;
}

#element_box span.element-number{
    display:block;
    font-size: 30px;
    text-align: left;
}

#element_box span.element-symbol{
    display: block;
    font-size: 100px;
    line-height: 100px;
}

#element_box span.element-name{
    display: block;
    font-size: 30px;
}

#element_box span.element-weight{
    display: block;
    font-size: 20px;
}

p.element-summary{
    text-align: justify;
}

ol.element-ionization{
    list-style: none;
    counter-reset: element-ionization;
    margin-left: 0;
}

ol.element-ionization li{
    counter-increment: element-ionization;
}

ol.element-ionization li::before{
    content: "IE" counter(element-ionization);
    margin-right: 10px;
}

/* Legend Component */

#table_wrapper{
    position: relative;
}

#legend{
    border: 1px solid gray;
    text-align: left;
    width: 400px;
    font-size: 12px;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    left: 350px;
    background-color: #f9f8f5;

}
